#wrapper {
    width: 400px;
    margin: 0 auto;
}
.header {
    background-color: #141f40;
    height: 100px;
}
/* .main {
    height: 250px;
} */
.clearfix::after {
    content:"";
    display: block;
    clear: both;
}
.mainLeft {
    background-color: #80bfa8;
    height: 250px;
    width: 150px;
    float: left;

}
.mainRight {
    background-color: #8c2727;
    height: 250px;
    float: right;
    width: 250px;

}
.footer {
    background-color: #d98d30;
    height: 100px;
}
